[2018-03-02 02:38] shanegibbs opened #1 "Custom rand::Rng"
Your library is exactly what I have been looking for :heart_eyes:!

I have been trying to rig it up to a wasm build and I hitting into a runtime error. When calling `autograd::ndarray_ext::array_gen::glorot_uniform` I get a stack trace that looks like the following:

[code]

So we are panicing in the `rand::jitter::get_nstime` function. This makes sense because when I look at [jitter.rs:703](https

[2018-03-02 10:51] raskr commented on #1
Thanks for your interest in this project! This is a curious issue whereas I'm not familiar with Web Assembly at all.
Anyway, enabling array generator functions to use pre-instantiated `Rng` object solves this problem as you said. This abstraction is definitely useful, but I want to provide default `Rng`. Therefore the compromise will be something like:
[code]

How do you think?
In this case, the l

[2018-03-02 17:40] shanegibbs commented on #1
Yes, that would solve my problem. I like this design too 🥇

[2018-03-03 04:48] raskr commented on #1
Ok, next version (may take several days) will contain code close to those.
Thank you I will; immediate PRs are also welcome since this is an experimental project 👍

[2018-03-06 02:28] shanegibbs opened #3 "Calculate add/sub gradient"
I have been tinkering together a neural network. However, I have been running into some panics. I have managed to boil it down to calculating the gradient of `ag::add` or `ag::sub`. Here is the boiled down example:

[code]

I get the following when I try to run the above:

[code]

Am I doing something wrong?

Thanks

[2018-03-06 11:04] raskr commented on #3
No, that is exactly a bug (thank you for the report).
If a differentiable operation is evaluated successfully, its output's gradient must also be computed successfully. I will investigate the cause later.
Actually, I often suffer from broadcasting bugs in gradient computation...

[2018-03-06 15:21] #1 closed

[2018-03-07 09:00] raskr commented on #3
Correction: That is **not** a bug.

I'm sorry, `ag::grad()` can differentiate **scalar** like tensor... (mentioned in https://docs.rs/autograd/0.6.5/autograd/ops/fn.grad.html)

This is the similar spec as Theano's.
Workarounds:

* Simply you can `reduce_sum()` the `z` into a scalar, which is fed to first argument of `ag::grad`.
[code]
* You can use `ag::grad_with_default`. (as mentioned in the lin

[2018-03-07 15:37] shanegibbs commented on #3
Oh yes, I see now. Should that also work for `reduce_mean()` as well as `reduce_sum()`? I seem to get the same broadcast error with `reduce_mean()`.

For example

[code]

[2018-03-09 09:26] raskr commented on #3
Yes, it should also work.
I'm fixing those problems now, wait a moment..

[2018-03-10 18:13] shanegibbs opened #4 "`argmax` with multiple maximum values"
The library is working really great so far :tada: I am just seeing some interesting behaviour with `ag::argmax()`. I am passing in an array of 4, and sometimes I am seeing an `argmax` result of `4` or `5`. I captured some inputs below.

[code]
Outputs
[code]

And in python
[code]

[2018-03-10 19:21] shanegibbs commented on #4
From what I can tell, the binary mask (in [reduction_ops.rs](https://github.com/raskr/rust-autograd/blob/b56c89d5445b1366e189d24623c06ee975deac6e/src/ops/reduction_ops.rs#L291-L301)) is returning multiple results when they are equal. It then does a dot product between the indices and in the binary mask, which can result in a value higher than the index.

I now notice that index `2` and `3` above h

[2018-03-11 04:10] raskr commented on #4
#5 resolved this.

[2018-03-11 04:10] #4 closed

[2018-03-15 05:13] raskr commented on #3
Probably fixed in master head and v0.6.7 👍
I made overall fixes of reductions and scalar tensor treatments.
Now, this works:
[code]

[2018-03-15 10:57] #3 closed

[2018-03-30 02:18] jonathanstrong opened #8 "eval and run at same time?"
Is it possible to execute the updates from an optimizer (`run`) and return the loss at the same time (`eval`)? I can't figure out how to do this. The `theano.function` interface I'm familiar with accepts return parameters and a separate list/dict of updates. Perhaps with autograd the eval has to be in updates, but I don't know how to retrieve the value.

[2018-03-30 04:49] raskr commented on #8
Yes, you can do it (sorry for poor documentation).
`eval` and `run` are almost same; the slight difference is in postprocessing:
- `eval` returns `Vec<Result>`
- `run` unwraps the vec automatically, and return nothing.

So pseudo code would be like:
[code]
Note1: `ag::eval` is smart enough to avoid duplicated computation in `update_ops` and `loss`.
(e.g. affine, addition of bias, cross-entropy don

[2018-04-15 04:08] #8 closed

[2018-07-31 17:08] mateon1 opened #12 "SGD::compute_updates is private"
The built-in gradient descent function is not usable at the moment, the `compute_updates` function needs a pub prefix to fix this.

Workaround: Copy-paste the implementation and use that instead.

[2018-08-01 12:47] raskr commented on #12
Yes....
I'll fix it later.

[2018-08-02 03:50] raskr commented on #12
Fixed in master

[2018-08-02 03:50] #12 closed

[2019-03-19 18:06] ExpHP opened #13 "f64 support"
I'm surveying this crate for possible use in physics code, and can't help but notice that all tensors are confined to single-precision floating point numbers. Basically, physics is chock-full of multivariate functions with [insanely complicated derivatives](https://github.com/lammps/lammps/blob/2558509b70fdd579b8c80174f0f83d9725ee43c8/src/MANYBODY/pair_airebo.cpp#L1257-L2085) that provide an immen

[2019-03-20 14:24] raskr commented on #13
Yes, this project currently supports f32 only, and I'm aware that restriction is too strong.

autograd depends on `ndarray` crate that can play with `num_traits::Float`, therefore it is possible to make `Tensor` type generic probably.
So... going to implement that when I get time (before long).

[2019-04-07 16:03] raskr commented on #13
Implemented.  v0.9.1 supports `Float`.

[2019-04-15 14:51] #13 closed

[2019-05-30 01:43] lazarillo opened #14 "How to help?"
Hi @raskr

I am very new to Rust and lower level programming, but not to tensors or differential equations. (I'm a data scientist.)

I'd like to help out in some way as a chance to work on my Rust skills while also doing something useful in a field I know/care about.

I saw that the project had been "asleep" for a while, but that you recently made a commit again.  Is there something in your mind t

[2019-05-30 15:04] raskr commented on #14
Thank you for your interest!

Most of what I initially intended to do has already been accomplished. (or rather, it has more functionality than I expected)
But I can't say there is nothing to do anymore, e.g.
- zero-copy tensor computations (now I'm trying)
- parallel graph execution
- model persistence
- more primitive ops
- more functional interface
...

Destructive changes to achieve these are

[2019-05-31 13:40] hegza commented on #14
I'm in a similar place with this as @lazarillo. I feel this library does really well a lot of the things that I currently need for my research. At least *I* am fairly convinced that this might be the best deferred computation graph library available in Rust at this moment.

I'm going to be using the library for another deep learning implementation, so perhaps I find something to contribute. I'm cu

[2019-06-03 17:09] lazarillo commented on #14
Hi @raskr Thanks for the feedback!  Since I am new to Rust, I don't want to set my ambitions too high and crash.  I might look at the interface, as you suggest.  Many of the others look tough to tackle at the moment.  But first I think I'll spend some more time with the library and see what areas *I'd* like to improve, since it sounds like that would likely be most beneficial.

[2019-06-12 19:06] zekyll opened #16 "Adam optimizer is broken?"
I was trying to use the Adam optimizer for a DQN problem, but the the Q values always kept diverging regardless of hyperparameters. So I looked into the code and it seems to me like the optimizer doesn't correctly update the stateful parameters. It calculates new values for m and v but while doing so it makes copies of the NdArrays. The actual state variables referenced by xs[2] and xs[3] are neve

[2019-06-13 05:18] raskr commented on #16
Oh yes, `new_m` and `new_v` must be set to xs[2] and xs[3]... (I forgot when that code was checked in)
I'll fix it later.

[2019-06-18 14:31] raskr commented on #16
Fixed in v0.9.2.

[2019-06-18 14:31] #16 closed

[2019-07-11 20:54] zekyll opened #17 "Inconsistent tensor caching"
I was under the impression that tensors are only evaluated once during a single call to `eval`, and the value is then cached for later uses. It seems to work like that in most cases, but I tried a simple example with some inconsistent results:
[code]
The first one produces a value 0 as expected. However the second one is always a nonzero value, so it seems to call the random number generator twice

[2019-07-14 06:13] raskr commented on #17
Fixed in v0.9.5!

[2019-07-14 06:13] #17 closed

[2019-08-10 01:40] oleg-kachan commented on #14
It seems you're interested to implement higher-order automatic differentiation.

Are you aware of [this paper](https://arxiv.org/abs/1812.11592)?

[2019-08-10 03:14] raskr commented on #14
@oleg-kachan

No, but all (probably) operations in this crate are already differentiable n-times.

[2019-11-22 21:21] OmnipotentEntity opened #21 "Compile failure on example (intel-mkl-src)"
When attempting to compile an example application, using the suggested cargo invocation on crates.io (`autograd = { version = "0.9.5", features = ["mkl"] }`), I get the following error:

[code]

Workaround is possible by simply not using `mkl`.

[2019-11-22 21:51] OmnipotentEntity commented on #21
Further, actually running the [LSTM example](https://github.com/raskr/rust-autograd/blob/master/examples/lstm_lm.rs#L104) results in a panic:

`thread 'main' panicked at 'Shape error: placeholder required [-1, 2], but got [2, 3]',`

[2020-01-03 18:26] paulkass opened #22 "Segfaulting on matrix multiplication with MKL"
Matrix multiplication can cause a segault when using MKR. Here is a snippet:

[code]

In the above example, `x` has dimensions `[input_size, 1]` and `s` will have dimensions `[output_size, input_size]`, so matrix multiplication works out. The example runs with no issues without the `mkr` feature, but with `mkr` the eval step segfaults. I analyzed with valgrind, and it seems like there a few extra

[2020-01-04 14:22] raskr commented on #21
Fixed the bug in LSTM example, but I couldn't reproduce the checksum bug...

[2020-01-04 14:29] raskr commented on #22
Probably fix in v0.9.6.
That was a bug of MatMul operation using Intel MKL. As you reported, I observed UB when an input to MatMul is a vertical vector. https://github.com/raskr/rust-autograd/blob/master/tests/test_tensor_ops_eval.rs#L54

[2020-01-04 21:52] paulkass commented on #22
It seems like this an issue affecting mostly large matrices done with MKL. Without MKL, the matrix computation works fine but it's super slow. With MKL, the code segfaults. Here is a gist with the code:

https://gist.github.com/paulkass/2a94aa07d1ba43f8efbf7256d7aa2d3c

At sizes 1-10, it seems fine.
At sizes 11-100, the multiplication is performed but the program still segfaults.
At sizes 100+, th

[2020-01-05 04:15] raskr commented on #22
Ahhh yes, observed segv with your setting...
I'll check it later.

[2020-01-09 13:44] hwchen opened #23 "tensordot fails on assert"
Hello, I may have found a bug.

I was trying to  evaluate a dot product:

[code]
which gives me the error:
[code]
Removing the assert at https://github.com/raskr/rust-autograd/blob/97a5ad0881e0e996202b15de8bb2098b4d56206f/src/ops/math_ops.rs#L344 allows the operation to proceed and gives me the answer I expect.

I don't know enough to know whether the assert can just be modified, so I didn't creat

[2020-01-15 16:05] raskr commented on #23
Fixed in v0.9.7.
As you mentioned, the assertion in transpose was incorrect!
https://github.com/raskr/rust-autograd/commit/1b19bafd35c29cd6230a2cd1e81bec5f435bb358

[2020-01-15 16:05] #23 closed

[2020-01-15 17:02] hwchen commented on #23
thanks for the fix!

[2020-01-16 02:58] raskr commented on #22
Fix in v0.9.7!
Sorry for the inconvenience...

[2020-01-17 03:31] paulkass commented on #22
awesome, thanks!

[2020-01-17 03:31] #22 closed

[2020-04-02 17:06] ralfbiedert opened #26 "Usage of unsafe?"
Hi,

I am evaluating `autograd` for our project. I really like the concept, but I'm a bit concerned about the use of `unsafe` and some issues that come with it.

For example:
- `lib.rs:243`, creates a new typed `Vec<T>`, and calls `set_len`. Although the function is marked `unsafe`, [according to the documentation](https://doc.rust-lang.org/std/vec/struct.Vec.html#method.set_len) the elements _mus

[2020-04-11 13:39] raskr commented on #26
Thank you @ralfbiedert.
Yes, I also think unsafe usages in this crate are messed up, so made some fixes: https://github.com/raskr/rust-autograd/commit/3274cbb119eb07668d29a47b235020c9807cb239

Highlights:

-> It is ok since mnist dataset is stored as big endian. (I left some comments)

-> Exactly, fixed the bug: https://github.com/raskr/rust-autograd/blob/master/src/ops/dot_ops.rs#L138

[2020-04-11 13:39] #26 closed

[2020-05-20 15:14] paulkernfeld commented on #14
👋 hey @raskr, I am another person who would like to help out! I would love to work on the issues that you listed above, but a lot of them might be too involved for me since I don't feel like I would be ready to make architecture decisions. The one that most caught my eye was, "more primitive ops." Do you have examples of primitive ops that you'd like to see added? I feel like that could be a good

[2020-05-22 15:50] raskr commented on #14
@paulkernfeld
Sorry for the late reply!

Ah, it might be so as those thoughts are too sketchy. (but "model persistence", for example, could be implemented with only internal changes I think (with serde or protobuf? I don't know...).

The first thing I envisioned for that is something that are implemented in theano, tensorflow or numpy but are not listed [here](https://docs.rs/autograd/1.0.0/autogr

[2020-06-14 21:57] quietlychris opened #27 "`cnn_mnist` and `lstm_lm` examples runtime failure"
Hi! I'm having some trouble with running a couple of the examples from your project. My process was the following:

[code]

which results in the following error. I've compiled it both with and without the `--features mkl` flag, and with and without the `--release` flag, neither of which seems have any effect on these errors. As far as I can tell, they don't seem to be trace back to the same proble

[2020-06-15 03:17] raskr commented on #27
@quietlychris

Oh sorry, that's a newly introduced bug in refactoring of examples...
[dataset code in example](https://github.com/raskr/rust-autograd/blob/master/examples/mnist_data.rs#L25) is correct for multi-layer perceptron example, but is not for convnet. That should be:
[code]

I'll fix it later!

[2020-06-15 22:43] quietlychris commented on #27
Thanks for getting back to me so quickly! That's great to hear. I applied that fix to the `mnist_data.rs` file, and it definitely solved the `cnn_mnist` example, although I'm still seeing the same problem on the `lstm_lm` one, which I think ends up being due to a mismatch in the dimensions of the `gradients` and `feed` objects during the `graph.eval()` step in the test helper module. I haven't had

[2020-06-18 05:12] quietlychris commented on #27
Just as an update, I've been working on figuring out why this bug is appearing in the `mlp_mnist` example after that fix is applied, and it definitely looks like the issue is the same one that has appeared in `lstm_lm`.

The issue occurs because the
[code]
line internally ends up calling the `ops/dot_ops.rs` function `compute()` which uses
[code]
Print debugging successfully gets me through to jus

[2020-06-25 08:50] raskr commented on #27
@quietlychris Sorry for the late reply!

This is because mlp_mnist requires 2D inputs while cnn_mnist does 4D.
I suggested to fix mnist_data.rs to return 4D, but 2D return value may more make because  mnist is gray scale data (single channel) ...
So I think it's preferable to reshape the 2D input images to `(batch, 1, 28, 28)` after [this line](https://github.com/raskr/rust-autograd/blob/master/ex

[2020-06-26 09:54] arjunc77 opened #28 "Segmentation fault on multiple calls to conv2d."
When trying to make a predict fn involving a conv2d (similar to cnn_mnist), i see Segmentation faults after around 21 calls.
Is this a bug or Is there a better way to make predictions?

Minimum code to reproduce:
-----------------------------
    use autograd as ag;
    use ag::ndarray_ext as array;
    use ag::tensor::Variable;

    fn main() {
        let rng = array::ArrayRng::<f32>::default();

[2020-06-26 13:27] raskr commented on #28
@arjunc77 I can't reproduce that... Could you paste the stack trace?

[2020-06-26 13:53] arjunc77 commented on #28
Calling pred: 0
Calling pred: 1
Calling pred: 2
Calling pred: 3
Calling pred: 4
Calling pred: 5
Calling pred: 6
Calling pred: 7
Calling pred: 8
Calling pred: 9
Calling pred: 10
Calling pred: 11
Calling pred: 12
Calling pred: 13
Calling pred: 14
Calling pred: 15
Calling pred: 16
Calling pred: 17
Calling pred: 18
Calling pred: 19
Calling pred: 20
Calling pred: 21
Segmentation fault

[2020-06-26 14:08] arjunc77 commented on #28
NOTE: I get it working when i run the above code from inside auto-grad examples path. But when i try to run the same code from another crate with autograd 1.0.0 installed i run into the above traceback.

[2020-06-26 14:41] arjunc77 commented on #28
Package dependencies:
dependencies = [
 "autograd",
 "crossbeam",
 "glob",
 "hashbrown",
 "intel-mkl-src",
 "libc",
 "matrixmultiply 0.2.3",
 "ndarray",
 "num",
 "num-traits",
 "rand 0.7.3",
 "rand_distr",
 "rayon",
 "reqwest",
 "rustc-hash",
 "serde",
 "serde-pickle",
 "serde_json",
 "smallvec",
]

[2020-06-26 17:14] arjunc77 commented on #28
@raskr , i have a better debug trace from gdb. Please find it below:

Calling pred: 0
Calling pred: 1
Calling pred: 2
Calling pred: 3
Calling pred: 4
Calling pred: 5
Calling pred: 6
Calling pred: 7
Calling pred: 8
Calling pred: 9
Calling pred: 10
Calling pred: 11
Calling pred: 12
Calling pred: 13
Calling pred: 14
Calling pred: 15
Calling pred: 16
Calling pred: 17
Calling pred: 18
Calling pred: 19

[2020-06-26 19:05] quietlychris commented on #28
@raskr @arjunc77  I have also reproduced this issue, on Ubuntu 18.04 using `rustc 1.45.0-nightly`. The `Cargo.toml` file is simply using `autograd = { version = "1.0.0"}`, with and without the `mkl` flag, so there shouldn't be any versioning issues there. I'm happy to help test any fixes or versions moving forward as well.

My gdb backtrace is the following:
[code]

[2020-06-26 19:44] arjunc77 commented on #28
@quietlychris , thanks for sharing.
My OS is ubuntu 18.04 as well. Running the example within rust-autograd repo works fine. I believe lib.rs loads the Tensor or graph in a way that prevents this issue.

[2020-06-26 20:28] arjunc77 commented on #28
Not able to replicate the issue on Mac OS.
@quietlychris , can you verify whether you machine is bare metal or runs on a hypervisor?

[2020-06-26 20:48] quietlychris commented on #28
I'm running Ubuntu 18.04 on bare-metal, on a Lenovo x250, which is an x86_64 platform running an Intel i5-5300U.

For what it's worth, I ran this program through valgrind to see if there was a memory leak associated with it (`$ valgrind ./target/debug/check_issue_28 `), and it looks like it got through all 100 iterations without an issue, although just running the binary without valgrind still lea

[2020-06-26 20:54] arjunc77 commented on #28
In my case the OS (Ubuntu 18.04) runs on a hypervisor (vcpu). So, the common denominator is the OS whether or not it is baremetal.

[2020-06-26 21:40] quietlychris commented on #28
Hmm, looks like it's not just an Ubunt 18.04 issue, though. I just tried it on Pop!_OS 20.04 (which is sort of an Ubuntu derivative) also running on x86_64 bare metal, and got the same behavior.

[2020-06-27 13:52] raskr commented on #28
@arjunc77 @quietlychris Thank you for the additional info!
Probably the segfault is caused by [this line](https://github.com/raskr/rust-autograd/blob/master/src/graph.rs#L57) which is accessing `node_set: UnsafeCell<...>`.

Ummm that's strange. `*.rs` files in this crate only define utility types and functions.

[2020-07-16 15:27] #14 closed

[2020-07-24 11:50] acrrd opened #29 "Negative index in `slice` are off by one"
When using `slice` with negative numbers the result is off by 1.
[code]
The assert fails because the shape of `b` is `[2,2]`

[2020-08-03 13:23] acrrd commented on #28
The problem is that in the `install` function returns a reference to a `TensorInternal` that is allocated in the vector.
When the vector reallocate all the references become invalid.
This is already fixed in https://github.com/raskr/rust-autograd/commit/eda1a80a725b479896a3cdd4f328811b3a335ecb
Could you make a new release with these fixes?

[2020-08-03 14:37] raskr commented on #28
@acrrd

When the vector reallocate all the references become invalid. This is already fixed in eda1a80.

That's it! I'll submit a new release tomorrow.

[2020-08-04 10:51] inferrna opened #31 "Have a problem with build multilayer perceptron"
Hi. I tried to build simple perceptron with more than 1 hidden layer, but its precision seems to be very low. First 10 epochs it shows some progress, but then stuck on error ~ 0.585, which is very large for task detecting value from 0.0 to 1.0.
Can you please look on it and say what I did wrong?
Here is it https://gist.github.com/inferrna/b1b49b9d0e161a5104670ecb7870e19a

[2020-08-04 14:59] #29 closed

[2020-08-04 15:30] raskr commented on #31
I'm sorry I can't figure out the reason why that is, but
[code]
should be like below because `z` is not normalized to be between 0~1.
[code]

In your code, `acc` seems to be (binary) cross entropy. What is the desired value in the dataset?

[2020-08-04 16:21] inferrna commented on #31
I try to predict float value by its cosine and sine. More precisely, input is `[(sin(y)+1.0)/2.0, (cos(y)+1.0)/2.0]`

I changed (also in gist)
[code]
to
[code]
and
[code]
to
[code]
Now error is near 0.03 which is much better (but still not perfect). Thank you for help.
(Although, it would be very nice to have example for such cases with MSE loss function and a lot of layers and etc - for those one

[2020-08-04 16:51] raskr commented on #31
Sorry about the poor example code.
I know that the num of use cases is important for this kind of tools, but I don't have enough time to do it...

[2020-08-04 16:51] #31 closed

[2020-08-04 18:00] raskr commented on #28
@acrrd @arjunc77 @quietlychris Made a patch release v1.0.1. Sorry for the inconvenience...

[2020-08-05 03:16] raskr commented on #27
Fixed in v1.0.1 and master head.

[2020-08-05 03:16] #27 closed

[2020-08-05 03:17] #21 closed

[2020-08-05 18:43] arjunc77 commented on #28
Thanks @raskr , issue fixed with the new release.

[2020-08-05 18:43] #28 closed

[2020-10-22 04:42] ktegan opened #32 "segfault when calling grad() in a loop"
On my x86 linux environment with rust 1.47.0 and autograd 1.0.2 the below code has a segmentation fault.

Any idea what's causing this crash?

Given that this segfault happened in a very simple loop and that there's a decent amount of code inside of unsafe{} would it possible/feasible to use conditional compilation that used alternatives to unsafe{} code blocks when they are purely for performance

[2020-10-24 08:39] raskr commented on #32
Thank you for the bug report, but I can't get repro on my environment (rustc v1.40, macOS).
Please give me some time...

[2020-10-31 01:30] raskr commented on #32
hmm test passed with rustc v1.47 + macOS.

[2020-11-14 19:50] BenCrulis commented on #32
I am getting a similar bad behavior with this code on linux with rustc v1.47:
[code]

Cargo.toml:
[code]

As it is written, I am getting a panic with message 'Not differentiable with given tensor(s).', which I guess is caused by g.slice(), even though in this particular example I am retrieving only one cell of the Tensor. Note that I am trying to get multiple cells of the tensor in my real use cas

[2020-11-15 05:37] raskr commented on #32
@BenCrulis Thank you for the issue!

I tried the code above, and got correct result:
[code]

Could you check the code once, please?

[2020-11-15 07:01] raskr commented on #32
Anyway, considering the fact that segv is happening, it is still likely that unsafe is the trigger.
Over the next week, I'll working on overall revision of the code base.

[2020-11-15 09:23] BenCrulis commented on #32
I confirm that the code above panics for me, here is a stack trace with RUST_BACKTRACE=full:
[code]
uname:
`Linux 4.15.0-123-generic #126-Ubuntu SMP Wed Oct 21 09:40:11 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

I also just noticed that removing the mkl feature makes the same code SIGSEGV.

Let me know if I can provide more useful info. I hope that's not a problem outside of the library.

[2020-11-24 15:08] raskr commented on #32
@BenCrulis Could you try this? (mkl feature may remain broken)
[code]

[2020-11-24 16:04] BenCrulis commented on #32
@raskr Unfortunately, it still crashes, here is the stack trace:
[code]

I should add that the test_many_nodes testcase in test_core.rs is also crashing using your mem-hotfix branch: `signal: 11, SIGSEGV: invalid memory reference`

[2020-11-24 16:51] raskr commented on #32
Ah, I 'm not sure, but now I noticed one more little that needs to be fixed... (will do it tomorrow)

[2020-11-25 06:07] raskr commented on #32
@BenCrulis made a fix in the branch. could you test again?

[2020-11-25 08:35] BenCrulis commented on #32
@raskr The code I posted above now works and so is my use case code which is a bit more complex, so thank you very much!

However, the same test function in the repo is still failing but I don't know if it is because I don't know if mkl is disabled, I think I managed to disable it but I'm not sure. I'm not used to complex rust projects so I may not be doing things correctly.

Anyway, thanks again!

[2020-11-25 09:53] raskr commented on #32
@BenCrulis Good to hear that it has been solved for now.

MKL can be disabled by just removing `features = ["mkl"]` in Cargo.toml.
Problems around mkl is still seems to exist, so I'll tackle it too.

[2020-11-26 18:00] ktegan commented on #32
In my original test program setting the dependencies to use the git repository and the mem-hotfix branch I still see the same segmentation fault error.  Setting RUST_BACKTRACE doesn't help in this case because this is a segfault, not a rust generated panic.  When I run a debug executable with mem-hotfix inside of gdb I now see this backtrace:
[code]

[2020-11-26 20:59] BenCrulis commented on #32
I also have another SIGSEGV, still on the mem-hotfix branch with the following code:
[code]

GDB:
[code]

What is weird is that the line `let s=...` doesn't even participate to the computation.

[2020-12-01 16:47] raskr commented on #32
I'm working on it this weekend!

[2020-12-06 05:00] raskr commented on #32
@ktegan @BenCrulis Probably fixed the branch. Could you test that again?

[2020-12-06 05:55] ktegan commented on #32
This fixes my simple test case on my system and also appears to fix the issue in my original use case.  Thanks!

As someone still learning rust is there a simple way to explain the issue and how you fixed it?

[2020-12-06 10:00] BenCrulis commented on #32
This seems to fix all issues so far, my test code, my use case code and the test function that was failing in the library.
I'll let you know if I find another segfault.

Thank you very much!

[2020-12-07 09:48] raskr commented on #32
@ktegan Oh good to hear that.

Ok. Unfortunately, the current state of `Graph` API is not fully in accordance with Rust's (variable) reference system and managing `&TensorInternal` values manually to provide flexible tensor interfaces. (gateway to illegal things is [here](https://github.com/raskr/rust-autograd/blob/mem-hotfix/src/graph.rs#L56))

Specifically, those immutable references were used e

[2020-12-18 16:52] #32 closed

[2020-12-22 09:46] emilk opened #33 "access_elem failed"
Hi!

I am just starting to explore `autograd`, and I ran into an issue when using a 2D input:

[code]

This gives me `Failed to eval gradient: OpError(OutOfBounds("access_elem failed."))`.

Whichever shape I pick (`1,2`, `2,1`, `2,2` etc) I get the same error.

[2020-12-22 10:26] emilk commented on #33
Oh - I just realized `access_elem` is using flat indexing. That explains it!

[2020-12-22 10:26] #33 closed

[2020-12-28 18:34] malu opened #38 "Unexpected gradient shape"
The following code panics with `ndarray: could not broadcast array from shape: [2] to: []`.
[code]

It seems like `grads[0]` has shape `[2]`, although `y` and `v` are scalars. I tried to find out why but didn't find an answer.

Is this a bug? Is there a workaround?

If `c * v` is replaced by `c + v` it doesn't panic, by the way.

Thanks in advance for any help you can provide!

[2020-12-31 08:23] raskr commented on #38
@malu Sorry this is exactly a bug, and I made a patch in `bingrad-hotfix` branch. Could you test this?
[code]

[2020-12-31 12:53] malu commented on #38
It works!

Thanks for checking this :+1:

[2020-12-31 14:15] raskr commented on #38
Good to hear that!
v1.1.0  will include this fix.

[2020-12-31 14:15] #38 closed

[2021-01-22 06:01] AditMeh opened #39 "Not differentiable with the given tensors error when trying to train multi-input neural network"
@rusbridger and I are trying to train a multi-input siamese neural network with this structure, however, I get the error that this isn't differentiable.

My inputs x1, x2 and y are of shape [batch, 105, 105, 3], [batch, 105, 105, 3] and [batch, 1] respectively. The type is all f32.

I am running this on Ubuntu WSL.

The error I end up getting is:

`thread 'main' panicked at 'Not differentiable wit

[2021-01-22 15:39] raskr commented on #39
Thank you for the report.
`params[5]` does not seem to be used to compute the loss. So the panic occurs I think.

[2021-02-06 03:52] #39 closed

[2021-04-25 14:09] laocaoshilaocao opened #42 ""ndarray" and "autograd::ndarray""
Hi, i am a beginner of this interesting rust deep learning library.
When i try to run several basic examples using `ndarray`, i found that always has a compiler error saying i should use `autograd::ndarray`. Code and error are shown as follow:
[code]
[code]
Is that compulsory to use `ag::ndarray::array![[1., 1.]]` instead of  `array![[1., 1.]]` in this kind of cases?
Thanks for your help.

[2021-04-25 14:40] laocaoshilaocao commented on #42
Okay, i found that happens because i used the version `0.15.1` of `ndarray`.
After i changed the dependence version to  `0.12.1` everything works.

[2021-04-27 09:53] raskr commented on #42
Thank you for the report, yes, `ndarray` is re-exported to avoid this problem for now.

[2021-04-27 09:53] #42 closed

[2021-05-10 10:00] laocaoshilaocao opened #43 "Support for lgamma function"
Hi, i am using autograd to make a neural network with custom defined loss function.
That needs the calculation of `lgamma` function of tensors during the process.
I notice that there is  `tf.math.lgamma()` in tensorflow, and i find that would be really complex to define the operation myself using autograd since the gradient of the logarithm of the fraction is really complex for me to understand.
C

[2021-05-10 15:25] raskr commented on #43
Sorry I'm not familiar with those kind of functions.
`autograd` doesn't support complex numbers, and is it possible to implement that?

[2021-05-15 07:05] raskr commented on #43
Found tensorflow's lgamma derivative implementation. Hmm looks like it requires digamma.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/cc/gradients/math_grad.cc#L803

[2021-05-15 07:22] raskr commented on #43
If we don't consider complex numbers, the gradient would be `gx = gy * digamma(x)`.
So we are going to have to implement `Digamma` Op and call it in the `Lgamma`'s `grad` according to the above derivative.

Also found a Rusts's digamma impl: https://docs.rs/special/0.3.2/special/fn.digamma.html.

[2021-05-15 10:24] laocaoshilaocao commented on #43
That looks helpful.
I have had a try of this
[code]
The issue is that the `digamma` function only supports `float` inputs, not the `tensor` . And i also find that there is no existing method to return an `ndarray` type input in  `ag::op::GradientContext`
Do u have any idea of that?

[2021-05-15 12:50] raskr commented on #43
How about this? (no guarantee of correctness...)
[code]

[2021-05-16 09:30] laocaoshilaocao commented on #43
Thanks! That works for me after changing all `type T` to `f64` in all methods since the `lgamma_func(a).0` seems don't work for me.

I also have another two related questions about the custom defined operation.

One is about the `Pow` operation between two tensors, i have tried to write the computation of that like this:
[code]
That has errors `the trait ndarray::NdProducer is not implemented for

[2021-05-20 12:43] laocaoshilaocao commented on #43
Hi, inspired by your example before. I have tried to make the power between two tensors as followed:
[code]

I have done some simple test for that code and it passes. However i noticed that in source you use the method `maybereduce` for binary ops, what is the point of using that?

[2021-05-21 02:34] laocaoshilaocao commented on #43
As for the `tensor.shape()` problem, i think the core question is how can i use the value inside a tensor during the process?
For example, in `tensorflow` i can use `tensor.shape()[0]` to have the value of the first dimension of that tensor. Is there any equivalence also in `autograd` ?

[2021-05-21 08:56] raskr commented on #43
You can use this: https://docs.rs/autograd/1.1.0/autograd/tensor/struct.Tensor.html#method.access_elem

[2021-05-21 09:19] laocaoshilaocao commented on #43
I have tried the `access_elem`, but the issue i met is that i want to implement the element like this：
`tf.ones((1, self.mean.get_shape()[1])`
However when i use `g.ones(&[2, g.shape(x).access_elem(0)])` that doesn't work since the `access_elem` still returns a tensor.

[2021-05-21 09:36] laocaoshilaocao commented on #43
Another situation related to this problem is that i want to achieve the same function like this:
`zerodiag_num = num - tf.linalg.diag(tf.linalg.diag_part(num))`
which calculates a tensor without diagonal value.

I tried to make the custom defined operation like this:

[code]
That operation is one step during the complex computation of loss function. And afterwards i need to implement `adam optimiz

[2021-05-21 12:19] laocaoshilaocao commented on #43
The error message is `mismatched types: expected integer, found struct autograd::Tensor `

[2021-05-21 16:33] raskr commented on #43
It may be faster to use f32 for the whole calculation and cast to f64 only before and after the lgamma_func calculation.

[2021-05-21 23:48] laocaoshilaocao commented on #43
Thanks a lot for all your advice!!
I am going to work with all those problems :)

[2021-05-22 07:21] raskr commented on #43
Is it undesirable to do this? (too slow?)
[code]

[2021-05-22 07:48] laocaoshilaocao commented on #43
Yes i also thought about this way.
However, in my situation the tensor shape has already included several placeholder parameters after several layers calculation.
So if i do `eval` at that place, i believe that means i need to run the whole algorithm once, which is really inefficient.
The situation is like:
[code]

[2021-05-22 07:51] laocaoshilaocao commented on #43
Another situation for me is like:

[code]
I think maybe that is useful to eval first then do the training.

[2021-05-24 13:27] laocaoshilaocao commented on #43
As for the `zero-diag` problem, i made some thing as followed:
[code]
In my situation, that function is used during the loss function calculation. I assumed that the grad of that function is `None`, however when i try to run `grad` of my loss function i got the error `thread 'main' panicked at called  Result::unwrap() on an Err value: OpError(IncompatibleShape("Incorrect gradient shape"))'` .
I th

[2021-05-24 15:58] raskr commented on #43
I see, that is a serious problem. I thought that exposing whole node's evaluation results after `eval` would be useful.
I'll try to incorporate that into the next ver up.

[2021-05-25 08:42] laocaoshilaocao opened #44 "Gradient error for tensor of different dimensions"
Hi, during the development of my neural network algorithm, i found that gradient method for tensors calculated between two different dimensions always has an error. The error includes `thread 'main' panicked at'called Result::unwrap() on an Err value:` and  `thread 'main' panicked at'called Result::unwrap() on an None value:` if i try to print the `grad `result.
One example is like:
[code]
That in

[2021-05-25 16:03] raskr commented on #44
expand_dims() is required because autograd (more like ndarray) doesn't perform *implicit* broadcast.
Is tile() required?

[2021-05-25 16:06] laocaoshilaocao commented on #44
I think tile() is required when i perform plus/minus operations.
But for mul/div i don't think that is necessary.

[2021-05-25 16:10] laocaoshilaocao commented on #44
You are right the tile() is not required.
Btw the computation process works fine, but the gradient process just doesn't.

[2021-05-26 09:59] laocaoshilaocao commented on #43
Thanks, that will be cool :）

[2021-05-27 15:27] raskr commented on #44
Do you expect 2D -> 3D broadcast? Does TF support it??

[2021-05-28 01:03] laocaoshilaocao commented on #44
Yes i think TF supports that.
Example is like:

[code]
That works in TF.

[2021-05-28 02:37] raskr commented on #44
Hmm in the above example implicit broadcast (1,2) -> (4,1,2) looks occurring but `autograd` and `ndarray` requires one more empty dim.
[code]

I think implicit broadcast is evil and the ndarray's spec is reasonable:thinking:

[2021-05-29 01:10] laocaoshilaocao commented on #44
haha okay i got that.
You are right the implicit broadcasting makes the whole code quite mess to read. :)

[2021-05-29 12:03] laocaoshilaocao opened #45 "Alternatives for `tf.where()`"
Hi, i am working on a simple kmeans clustering algorithm using `autogard`
I want to achieve the same result as this TF code:
[code]
It simply returns the indices where the condition is True.
I wanna ask do you have any idea of simple alternative method in autogard?
Or i should again make my own custom defined op?

[2021-05-29 13:54] raskr commented on #45
Cool, would you add that in the example dir if you can afford?

Or i should again make my own custom defined op?

Yes, probably you have to impl a custom op...

[2021-05-29 15:39] laocaoshilaocao commented on #44
But when i met this same situation, tile() is still needed i believe?

[code]
If i run this i got the error like `thread 'main' panicked at 'ndarray: could not broadcast array from shape: [2, 1, 2] to: [1, 6, 2]'`

[2021-05-30 02:30] laocaoshilaocao commented on #45
Yes i can do that after i finish. It is still a very "ugly" code :)

I am trying to do that using exiting graph methods, which is more practical i believe.

[2021-05-30 05:59] laocaoshilaocao commented on #45
One related question is how could i update the `variable` using` autograd`?
The situation is like:
[code]

[2021-05-30 07:37] raskr commented on #45
if the epoch number is small, you can just swap the `with` and `for`. (but the large num of epochs would cause graph size  overflow)
The preferred way is defining the Op using [ndarray's assign](https://docs.rs/ndarray/0.12.1/ndarray/struct.ArrayBase.html#method.assign). It would be great if you send a PR about this!

[2021-05-30 07:43] raskr commented on #45
[SGD](https://github.com/raskr/rust-autograd/blob/master/src/optimizers/sgd.rs)'s impl may be useful  for `Assign`.

[2021-05-30 10:53] laocaoshilaocao commented on #45
What do you mean by swap `with` and `for`? I don't find the` ag::for` is a correct expression.

I am going to have a check of that.

[2021-06-03 15:35] laocaoshilaocao commented on #45
Hi, i made the code as follow:

[code]

However, when i tried to eval it use some very simple example like:

[code]
I always got the error `thread 'main' panicked at 'Bad op impl of network::Assign: cannot perform mutable borrowing for input(0)'`. Do u have any idea what is the wrong point of the code?

[2021-06-04 01:31] laocaoshilaocao commented on #45
I also had a try of `SGD`, i wrote some test like this:

[code]
It gives the same error `'Bad op impl of autograd::ops::gradient_descent_ops::sgd::SGDOp<f64>: cannot perform mutable borrowing for input(0)'`
It doesn't show error if i directly use `[centroids_v].to_vec()` as the `sgd.compute_updates` input.

[2021-06-06 08:54] laocaoshilaocao commented on #45
Hi, i am in development and usage of `assign` method.
However, i found i always met an error like this `thread 'main' panicked at 'Bad op impl of network::test::Assign: cannot perform mutable borrowing for input(0)'`.
My `method` is like this:

[code]

One using situation is like this one:
[code]

Do u have any idea how to solve this error?

[2021-06-06 10:35] laocaoshilaocao opened #46 "Bug for `g.argmax`"
Hi, i am using `ag.argmax` method and i met a weird situation.

[code]
The output becomes `8.0 ` which is obviously wrong.

That happens when the maximum number has more than 2 times.

[2021-06-07 08:00] laocaoshilaocao commented on #45
I also suffer from the `NaN` problem a lot.
I met situation like this:

`let mean = (means / assignments_num);`

where `assignments_num is:[[0.0]] shape=[1, 1], strides=[1, 1]`
`means is: [[0.0, 0.0]] shape=[1, 2]`

I always got result `mean are: [[NaN, NaN]]`

Do u have any idea about this situation?

[2021-06-07 11:55] raskr commented on #45
Sorry for the late reply.

Are you declaring `x` as variable using `ag::variable`?

That's because ndarray doesn't check zero-div. Is it difficult to avoid zero-div?

[2021-06-07 12:04] laocaoshilaocao commented on #45
yes i did

It is a little bit hard since that comes from the `exp` calculation and i am trying to use some `Nan to inf` function using `g.minimum`

[2021-06-08 15:28] raskr commented on #45
Cool, it might be worth considering the handling of zero-div in binary-ops

Oh really? This example passed:
[code]
Result:
[code]

[2021-09-13 02:27] yshui opened #50 "Index out of bound in DivOp"
stacktrace:
[code]

Looks like x1 has shape of `[1]`, e.g. 1-dimension, but the index is 0-dimension.

[2021-09-21 19:52] warycat opened #51 "Documentation about GradientContext::set_input_grads is misleading"
The docs about GradientContext has some errors.

[2021-09-25 04:53] raskr commented on #50
@yshui do you have repro code ?

[2021-11-04 11:31] ravi-maithrey opened #52 "Use of 'extern crate' in examples"
All the examples in the repo use `extern crate autograd` or `extern crate ndarray` which is deprecated and not recommended since rust 2018.

It should be a simple fix to update these in all instances.

[2021-11-07 14:56] raskr commented on #52
Thank you, fixed.

[2021-11-07 14:56] #52 closed

[2021-11-07 14:57] raskr commented on #51
Sorry for the wrong docs. Fixed.

[2021-11-07 14:57] #51 closed

[2021-11-07 14:59] raskr commented on #46
Fixed in https://github.com/raskr/rust-autograd/pull/49

[2021-11-07 14:59] #46 closed

[2021-11-08 04:24] atouchet opened #54 "Dead PDF link in source"
https://github.com/raskr/rust-autograd/blob/6c769fb991a5994a65ed23b2b1b09815405d6bd0/src/ops/mod.rs#L1490

[2021-11-11 16:59] #44 closed

[2021-11-12 02:52] raskr commented on #45
You can do `where` using the new `Tensor::map` method

[2021-11-12 02:52] #45 closed

[2021-11-12 02:52] raskr commented on #43
Implemented

[2021-11-12 02:52] #43 closed

[2021-11-28 16:06] penelopezone opened #55 "dropout with train=false produces error"
Version: rc2.0.0-rc2

backtrace:

[code]

code:
[code]

the same code works just fine with setting train to true

[2021-11-28 16:37] penelopezone commented on #55
For anyone searching for this in the future: this was fixed in rc3

[2021-11-28 16:37] #55 closed

[2021-11-29 02:09] raskr commented on #54
Fixed in master

[2021-11-29 02:09] #54 closed

[2022-01-18 01:53] Dirreke opened #56 "Could I get a value "0" when it is not differentiable at any variable ,No panic?"
When I get the differential of constant at variable, I hope I can get the value "0" or an option of error, but it returns panic

[2022-01-28 13:57] raskr commented on #56
[grad_helper](https://docs.rs/autograd/2.0.0-rc3/autograd/optimizers/fn.grad_helper.html) doesn't panic, but this may not be what you want.
Getting 0 is impossible currently.

[2022-03-07 05:38] raskr opened #57 "Wrong docstrings"
https://github.com/raskr/rust-autograd/blob/master/src/optimizers/momentum_sgd.rs

[2022-04-22 02:15] raskr commented on #56
Fixed in the master head

[2022-04-22 02:15] #56 closed

[2022-06-01 16:26] AngelOfSol opened #58 "softmax_cross_entropy outputs shape [-1], when it should output shape [-1, 1]."
I was attempting to optimize something with the softmax_cross_entropy loss function, but I kept getting broadcast shape errors, which confused me.  I spent time digging into the code, and I realized that the output here isn't following the API which says it should output a 2-rank tensor, instead outputting a 1-rank tensor.
[code]
I fixed it in my local copy by just reshaping the array, which seems

[2022-06-04 03:16] raskr commented on #58
@AngelOfSol Could you send a PR? Your fix looks good to me. Thanks!

[2022-07-06 15:32] #58 closed